* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: "MK-90";
	src: url(../fonts/mk90.ttf) format("truetype");
}
@font-face {
	font-family: "Courier New";
	src: url(../fonts/CourierNew.ttf) format("truetype");
}
@font-face {
	font-family: "Courier Prime";
	src: url(../fonts/CourierPrime-Bold.ttf) format("truetype");
}
@font-face {
	font-family: "ar_Aquaguy";
	src: url(../fonts/ar_Aquaguy.otf) format("opentype");
}
html, body {
	font-size: 20px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

main {
	flex: 1 0 auto;
}
a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h3 {
	font-family: "ar_Aquaguy";
	font-size: 3.2rem;
	color: #A92421;
	margin-bottom: 20px;
	margin-top: 10px;
}
p {
	font-family: "Courier New";
	font-size: 1.2rem;
}
header > div {
	background: linear-gradient(270deg, #DB1F24 21.55%, #A12420 100%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 40px;
}
header img.logo {
	margin-top: 20px;
}
header .slogan {
	font-family: "MK-90";
	color: #fff;
	line-height: 45px;
}
header .slogan p {
	font-family: inherit;
	font-size: inherit;
}
header .logo-link {
	line-height: 0;
}
header .auth-links p {
	font-family: "Courier Prime";
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #fff;
}
header .auth-links p {
	margin-bottom: 20px;
}
header .auth-links p:last-child {
	margin-bottom: 0;
}
header .auth-links a img {
	vertical-align: middle;
	margin-right: 9px;
}
header a:hover,
footer a:hover {
	text-decoration: underline;
}
main {
	padding: 40px 0;
}
div.main-navigation {
	text-align: center;
	margin: 120px 0;
}
div.main-navigation > div {
	width: 265px;
	height: 265px;
	border: 8px solid transparent;
	border-radius: 50%;
	background-image: linear-gradient(white, white), linear-gradient(to bottom, #A72421, #DB1F24);
	background-origin: border-box;
	background-clip: content-box, border-box;
	position: relative;
	display: inline-block;
	transition: box-shadow .3s ease-in-out;
}
div.main-navigation > div:before {
	position: absolute;
	content: "";
	display: block;
	width: 90%;
	height: 90%;
	background: linear-gradient(to bottom, #A72421, #DB1F24);
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	filter: blur(8px);
	transition: .3s ease-in-out;
}
div.main-navigation > div:first-child {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
div.main-navigation > div > a {
	display: inline-flex;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	font-family: "ar_Aquaguy";
	text-align: center;
	color: #A92421;
	font-size: 1.2rem;
}
div.main-navigation > div:after {
	content: "";
	position: absolute;
	display: block;
	width: 45px;
	height: 45px;
	border: 8px solid transparent;
	border-radius: 50%;
	background-image: linear-gradient(white, white), linear-gradient(to bottom, #A72421, #DB1F24);
	background-origin: border-box;
	background-clip: content-box, border-box;
	top: 104px;
	left: 104px;
	box-sizing: border-box;
	animation-duration: 13s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-name: rotate;
	transition: box-shadow .3s ease-in-out;
}
div.main-navigation > div:hover:before {
	width: 120%;
	height: 120%;
}
div.main-navigation > div:hover:after {
	box-shadow: 0px 0px 12px 8px #A72421, inset 0px 1px 10px 8px #52424261;
}
div.main-navigation > div:last-child {
	margin-top: 75px;
	margin-left: 150px;
}
div.main-navigation > div:last-child:after {
	animation-name: rotate2;
}
div.main-navigation > div:first-child:after {
	animation-name: rotate3;
}
@keyframes rotate {
    from {
        transform: rotate(-135deg) translateX(175px) rotate(-135deg);
    }
    to {
        transform: rotate(225deg) translateX(175px) rotate(-225deg);
    }
}
@keyframes rotate2 {
    from {
        transform: rotate(45deg) translateX(175px) rotate(45deg);
    }
    to {
        transform: rotate(405deg) translateX(175px) rotate(-405deg);
    }
}
@keyframes rotate3 {
    from {
        transform: rotate(-45deg) translateX(175px) rotate(-45deg);
    }
    to {
        transform: rotate(315deg) translateX(175px) rotate(-315deg);
    }
}

@keyframes xrotate {
    from {
        transform: rotate(-135deg) translateX(130px) rotate(-135deg);
    }
    to {
        transform: rotate(225deg) translateX(130px) rotate(-225deg);
    }
}
@keyframes xrotate2 {
    from {
        transform: rotate(45deg) translateX(130px) rotate(45deg);
    }
    to {
        transform: rotate(405deg) translateX(130px) rotate(-405deg);
    }
}
@keyframes xrotate3 {
    from {
        transform: rotate(-45deg) translateX(130px) rotate(-45deg);
    }
    to {
        transform: rotate(315deg) translateX(130px) rotate(-315deg);
    }
}
footer {
	font-family: "Courier Prime";
	background: linear-gradient(270deg, #A12420 21.55%, #DB1F24 100%);
	padding: 25px 0;
	text-align: center;
	font-size: 1.1rem;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
}
footer a {
	display: inline-block;
	margin: 0 15px;
}
footer br {
	display: none;
}
main {
	text-align: center;
}
.lgcontent {
	padding: 0 245px;
	max-width: 1400px;
	margin: 0 auto;
}
form label {
	text-align: left;
	display: block;
	margin-top: 40px;
}
input[type=text] {
	font-family: "Courier New";
	width: 100%;
	height: 72px;
	border: 1px solid #000000;
	border-radius: 8px;
	outline: none;
	font-size: 1.2rem;
	padding: 0 20px;
	margin-top: 10px;
}
p.timer {
	margin-top: 55px;
}
.btn {
	font-family: "ar_Aquaguy";
	font-size: 1.35rem;
	color: #fff;
	text-transform: uppercase;
	background: linear-gradient(90deg, #B42322 -10.05%, #DB1F24 73.2%);
	border-radius: 8px;
	border: none;
	cursor: pointer;
	padding: 21px 36px;
	margin-top: 39px;
	transition: box-shadow .3s ease-in-out;
}
.btn:hover {
	background: linear-gradient(90deg, #B42322 -10.05%, #F5292E 54.41%);
	box-shadow: 0px 4px 17px #A92421;
}
.btn:focus {
	background: #DD1A1F;
	box-shadow: 0px 4px 17px #A92421;
}













.osm, .oxs, .oxsl, .oxsp {
	display: none;
}
@media (max-width: 1024px) {
	.omd {
		display: none;
	}
}
@media (max-width: 1024px) {
	header > div {
		padding-right: 21px;
	}
}
@media (max-width: 1024px) and (min-width: 769px) {
	.osm {
		display: flex;
	}
	header .slogan, header .logo {
		display: inline-block;
		vertical-align: middle;
	}
	header .logo {
		height: 68px;
		margin-top: 15px;
	}
	header .slogan {
		margin-left: 30px;
		font-size: 0.8rem;
		line-height: 1.25rem;
	}
	header .auth-links {
		font-size: 0.9rem;
	}
	header .auth-links p {
		margin-bottom: 0;
		display: inline-block;
	}
	header .auth-links p:last-child {
		margin-left: 55px;
	}
	footer {
		font-size: 0.9rem;
	}
	div.main-navigation {
		margin: 50px 0;
	}
}
@media (max-width: 768px) {
	.oxs {
		display: flex;
	}
	html, body {
		font-size: 17px;
	}
	main {
		padding: 30px 0;
	}
	header img.logo {
		height: 68px;
	}
	header .slogan {
		font-size: 0.647rem;
		text-transform: none;
	}
	header .auth-links {
		display: flex;
		justify-content: space-between;
	}
	header .auth-links p {
		margin-bottom: 0;
	}
	div.main-navigation > div {
		width: 209px;
		height: 209px;
	}
	div.main-navigation > div:first-child,
	div.main-navigation > div,
	div.main-navigation > div:last-child {
		display: inline-block;
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	div.main-navigation > div:after {
		width: 35px;
		height: 35px;
		top: 79px;
		left: 79px;
	}
	div.main-navigation > div:after {
		animation-name: xrotate;
	}
	div.main-navigation > div:last-child:after {
		animation-name: xrotate2;
	}
	div.main-navigation > div:first-child:after {
		animation-name: xrotate3;
	}
	div.main-navigation {
		padding: 0 10px;
		margin-top: 0;
		margin-bottom: 0;
	}
	header .auth-links p:last-child {
		margin-left: 15px;
	}
}

@media (max-width: 545px) {
	div.main-navigation > div:first-child,
	div.main-navigation > div,
	div.main-navigation > div:last-child {
		margin-top: 48px;
		margin-bottom: 48px;
	}
}
@media (max-width: 545px), (max-width: 768px) and (orientation: landscape) {
	footer {
		justify-content: space-between;
		padding: 12px 0;
	}
	footer br {
		display: block;
	}
	footer a:nth-child(2) {
		order: 1;
	}
	footer a:first-child {
		order: 2;
	}
	footer a:last-child {
		order: 3;
	}
}
@media (max-width: 400px) {
	header .slogan {
		font-size: 0.5rem;
		display: inline;
	}
	header .auth-links a img {
		width: 15px;
		margin-right: 5px;
	}
	header .auth-links {
		font-size: .95rem;
	}
}
@media (max-width: 320px) {
	header img.logo {
		height: 50px;
	}
}